#person {
    background: url(./images/stickperson.png);
    background-size: cover;
    background-position: center;
    height: 100px;
    width: 75px;
    position: absolute;
}

#durian {
    background: url(./images/durian\ 2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100px;
    width: 75px;
}

#container {
    width: 600px;
    height: 600px;
    background-color: yellowgreen;
    margin: 0 auto;
    margin-top: 25px;
    position: relative;
}